@font-face {
    font-family: 'TATSanaSuksa';
    // font-style: normal;
    // font-weight: 100;
    src: url('../font/TATSanaSuksa-Regular.woff2') format('woff2');
}

footer {
    font-family: 'TATSanaSuksa';
    text-align: left;
    font-weight: 400;
    line-height: 1.8;
    color: #333333;
    font-size: 14px;

    .footer-banner {
        background-color: #fafafa;
        padding: 30px;

        img {
            width: 108px;
        }

        .head {
            font-weight: bold;
            color: #e6332a;
            margin-top: 24px;
            font-size: 16px;
        }

        a {
            text-decoration: none;
            color: #333333;
        }
    }

    .footer-bar {
        font-family: 'TATSanaSuksaBold';
        background-color: #213a8f;
        color: #fff;

        .copyright {
            padding: 0.5rem 1rem;
            padding-left: 0px;
        }

        .nav {
            float: right;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
        }
    }

    // .container {
    //     width: 100%;
    //     padding-right: 15px;
    //     padding-left: 15px;
    //     margin-right: auto;
    //     margin-left: auto;
    // }
}

.footer-banner {
    position: relative;
}

span.nowrap {
    white-space: nowrap;
}

@media only screen and (max-width: 769px) {
    footer {
        .footer-bar {
            .container {
                max-width: 100%;
            }

            .copyright {
                padding: 0.5rem 0.5rem;
                font-size: 12px;
            }

            .nav {
                .nav-link {
                    padding: 0.5rem 0.5rem;
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    footer {
        .footer-banner {
            padding: 44px 30px;

            .logo {
                width: 145px;
            }

            .head {
                margin: 15px 0px 10px 0px;
            }
        }

        .footer-bar {
            padding: 15px 0px;

            .container {
                max-width: 100%;
            }

            .copyright {
                padding: 0.5rem 2rem;
            }

            .nav {
                .nav-link {
                    padding: 0.5rem 2rem;
                }
            }
        }
    }
}
