@font-face {
    font-family: 'TATSanaChon';
    src: url('../font/TATSanaChon-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'TATSanaSuksa';
    src: url('../font/TATSanaSuksa-Regular.woff2') format('woff2');
}

header {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 60px;
    max-width: none !important;
    padding: 0px;
    margin-bottom: 60px;
    background-color: #fff;
    line-height: 1.8;
    font-family: 'TATSanaSuksa';
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

@media only screen and (max-width: 576px) {
    ._desktop-nav {
        display: none;
    }

    .header-link-mobile {
        display: block;
        text-align: right;
        cursor: pointer;

        .navbar {
            background: #fff;
        }

        .navbar-light {
            .navbar-brand {
                color: rgba(0, 0, 0, 0.9);
            }
        }

        .navbar-brand {
            width: 35px;
            height: 48px;
            padding: 0;
            display: inline-block;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;

            img {
                width: 100%;
                height: 100%;
            }
        }

        img {
            vertical-align: middle;
        }

        .navbar-toggler {
            border: none;
        }

        .navbar-toggler:focus,
        .navbar-toggler:hover {
            text-decoration: none;
        }

        .navbar-toggler:focus {
            outline: 0;
        }

        .animated-icon1 {
            width: 30px;
            height: 20px;
            position: relative;
            margin: 0px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;

            span {
                background: #333333;
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }

            span:nth-child(1) {
                top: 0px;
            }

            span:nth-child(2) {
                top: 10px;
            }

            span:nth-child(3) {
                top: 20px;
            }
        }

        .animated-icon1.open {
            span:nth-child(1) {
                top: 11px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            span:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            span:nth-child(3) {
                top: 11px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
        }
    }
}

@media only screen and (min-width: 577px) {
    ._mobile-nav {
        display: none;
    }

    .container-fluid {
        .row {
            .col-12 {
                .header-links {
                    list-style: none;
                    margin: 0;
                    padding: 5px 0 0;
                    text-align: center;

                    li {
                        display: inline-block;
                        padding: 14px 15px;
                        font-family: TATSanaChon;
                        font-size: 14px;
                        font-weight: bold;

                        a {
                            text-decoration: none;
                            color: #333333;
                            font-weight: bold;
                            background-color: transparent;
                            cursor: pointer;
                            position: relative;
                        }

                        a::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 6px;
                            bottom: -14px;
                            left: 0;
                            background-color: #213a8f;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                        }

                        a:hover {
                            color: #213a8f;
                        }

                        a:hover:after {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}
